@import './variables.scss';

@import './pages/home.scss';

@import './components/logo.scss';
@import './components/error.scss';
@import './components/search.scss';
@import './components/header.scss';
@import './components/heading.scss';
@import './components/container.scss';

:root {
  --color-primary: #78c0e0;
  --color-secondary: #d8f3dc;
  --color-tertiary: #f0f0f0;
  --color-text: #333333;
  --color-error: #ca0808;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.3;
  font-size: 1.6rem;
}
